<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rent Ad Search QA Suite" verbose="1">
    
    <!-- Smoke Tests Suite - Daily execution -->
    <test name="Smoke Tests" preserve-order="true">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.RentAdSearchSmokeTest"/>
        </classes>
    </test>
    
    <!-- Example Tests Suite -->
    <test name="Example Tests">
        <classes>
            <class name="tests.RentAdSearchTest"/>
        </classes>
    </test>
    
</suite>
